<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <ol>
          <li>This is some info
          <li>This is some more info
        </ol>
        <p>This is the info page: here's some information about me!</p>
    </body>
</html> 